# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React / Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment files
.env
